.btn-outline-rosa {
    color: #ffffff;
    background-color: rgb(60, 56, 56);
  }
  
  .btn-outline-rosa:hover {
    color: #000000;
    background-color: #eb7abb;
  }
  .btn-outline-cancelar {
    color: #ffffff;
    background-color: rgb(60, 56, 56);
  }
  
  .btn-outline-cancelar:hover {
    color: #000000;
    background-color:rgb(231, 57, 57);
  }
  
  .btn-house-list {
    width: 49% !important;
  }
  
  .naranja-border {
    border: 2px solid#eb7abb;
  }