<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
  <img src="/assets/img/Rosas.jpg" alt="Fondo de tabla" style="width: 100%; height: auto; opacity: 0.3;">
</div>
  
  <div class="card mt-1 px-4 rosa-border" style="position:relative; margin-left: 120px; margin-right: 120px; z-index: 0;">
    <div class="row">
        <div class="col-12">
          
          <h4 class="mt-5" style="text-align: center;">Detalle de la reserva </h4>
        </div>
        <div class="col-12">
  
          @if(booking){
            <table class="table mt-4">
              <thead>
                    <tr>
                      
                      <!-- <th scope="col">Dirección</th> -->
                      <th scope="col" style="color: #eb7abb"><i class="bi bi-upc"></i>Identificador</th>
                      <th scope="col" style="color: #eb7abb"><i class="bi bi-calendar2-week-fill" style=" margin-right: 7px;"></i>Fecha</th>                  
                      <th scope="col" style= "color:#eb7abb"><i class="bi bi-hourglass-split" style=" margin-right: 7px;"></i>Hora</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                    <tr>
  
                      <td style="padding-left: 70px;">{{booking.id}}</td>
                      <td>{{booking.date}}</td>
                      <td>{{booking.time}}</td>
                      <td>{{booking.comment}}</td>
                      
                    </tr>
                  <br>
                  </tbody>
                </table>
                
                
              }@else {
                <p>Reserva no encontrada.</p>
                }
            </div>
            <button type="button" class="btn btn-outline w-25 mb-4" routerLink="/booking" style="margin-left: 800px;">Volver</button>
        </div>
      </div>    
