<main>
  @if(images){
    <ngb-carousel>
      <ng-template ngbSlide>
				<div class="picsum-img-wrapper" >
          <img [src]="images[0]" alt="Random slide" class="carousel-img" />
      </div>
      
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" >
					<img [src]="images[1]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
					<img [src]="images[2]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>

    </ngb-carousel>
  }
  <div class="container mt-5" style="color: #000000;">
    <h4>Deslumbra en cada evento con un vestido de fiesta que refleje tu elegancia, 
      haciendo de cada momento una ocasión inolvidable.</h4>
        
      </div>
  <div class="vestido mt-5">
    <img class="img-fluid" src="/assets/img/vestido-portada.jpg" style="width: 100%; height: auto; display: block;">
  </div>
  
  
</main>