<main>
  @if(images){
    <ngb-carousel>
      <ng-template ngbSlide>
				<div class="picsum-img-wrapper" >
          <img [src]="images[0]" alt="Random slide" class="carousel-img" />
      </div>
      
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" >
					<img [src]="images[1]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="height:80vh; display: flex; align-items: center; justify-content:center">
					<img [src]="images[2]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>

    </ngb-carousel>
  }

  <div class="container mt-5">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5">
      <div class="col">
        <div class="card shadow-sm">
         
            <img src="/assets/img/corte-princesa.jpg" alt="">
      
         
          <div class="card-body">
            <p class="card-text"><strong>Vestidos de novia corte princesa:</strong>
              <br> Donde los sueños se encuentran con la elegancia.</p>
            
          </div>
          <div class="button">
            <button routerLink="/vestidos">Ver</button>
          </div>
        </div>
      </div>
     
      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/img/img-2.jpg" alt="">
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
           
          </div>
        </div>
      </div>
     
    </div>
  </div>
</main>