<main>
  @if(images){
    <ngb-carousel>
      <ng-template ngbSlide>
				<div class="picsum-img-wrapper" >
          <img [src]="images[0]" alt="Random slide" class="carousel-img" />
      </div>
      
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" >
					<img [src]="images[1]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="height:80vh; display: flex; align-items: center; justify-content:center">
					<img [src]="images[2]" alt="Random slide" class="carousel-img" />
				</div>
				
			</ng-template>

    </ngb-carousel>
  }

  <div class="container mt-5">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-3">
      

      <div class="col" >
        <div class="card shadow-sm img" >
          <img src="/assets/img/corte-sirena.jpg" alt="">
          <div class="card-body">
            <p class="card-text"><strong>Vestidos de novia corte Sirena:</strong>
              <br> una expresión de feminidad y sofisticación, que abraza las 
              curvas con gracia y estilo, creando una silueta impactante y memorable.</p>
          </div>
          
        </div>
      </div>
        
     
      <div class="col" >
        <div class="card shadow-sm">
          <img src="/assets/img/corte-recto.jpg" alt="">
          <div class="card-body">
            <p class="card-text"><strong>Vestidos de novia corte Recto:</strong>
              <br> la perfecta armonía entre simplicidad y elegancia, 
              diseñados para realzar la belleza natural de cada novia</p>
          </div>
          
        </div>
      </div>

      <div class="col" >
        <div class="card shadow-sm">
          <img src="/assets/img/corte-A.jpg" alt="">
          <div class="card-body">
            <p class="card-text"><strong>Vestidos de novia Corte A:</strong>
              <br> la perfecta combinación entre sutileza y esencia, que realza 
              la belleza natural de la novia con su suave caída y encanto atemporal.</p>
          </div>
          
        </div>
      </div>

      <div class="col" >
        <div class="card shadow-sm">
          <img src="/assets/img/corte-princesa.jpg" alt="">
          <div class="card-body">
            <p class="card-text"><strong>Vestidos de novia corte Princesa:</strong>
              <br> Cada detalle está diseñado para hacer realidad los sueños más encantadores,
               creando un cuento de hadas hecho realidad en tu día especial.</p>
          </div>
         
        </div>
      </div>
     
    </div>
  </div>
</main>