
.picsum-img-wrapper {
    height: 80vh; /* 80% de la altura de la ventana gráfica */
    width: 100%; /* 100% del ancho del contenedor */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    overflow: hidden; /* Oculta cualquier contenido que desborde */
  }
  
  .carousel-img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  
  .card img {
    width: 100%;
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }


.bg-welcome {
  background-image: url('https://cdn.pixabay.com/photo/2016/10/22/17/46/mountains-1761292_1280.jpg');
  background-position: center;
  background-size: cover;
  padding-top:100px;
  padding-bottom: 100px;
  font-family:  "Playwrite FR Trad", cursive;
}

.bg-welcome h1 { 
  padding-bottom: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;}

.bg-welcome p {
  color: white;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

.tittle h2{
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding-top: 50px;
  margin-left: 120px;
  color: #000000;
}

.tittle p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding-top: 2px;
  margin-left: 120px; 
  color: #434343;
}

.card {
  height: 100%; /* Hace que todas las cards tengan la misma altura */
}

.card img {
  height: 100%; /* Hace que todas las imágenes dentro de las cards tengan la misma altura */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el espacio disponible sin distorsionarse */
}

.container {
  margin-top: 5rem;
}

.row-cols-lg-2 > .col {
  flex: 0 0 50%; /* Hace que cada columna ocupe el 50% del ancho en dispositivos grandes */
}

.card{
  border: 1px solid #eb7abb; /* Cambia #ff0000 por el color que desees */
}

.vestido{
  position: relative; 
  top: -3px;  
}  