#detalle{

    float: right;
    margin-right: 20px;
  }
  #borrar{
    float: right;
    margin-right: 40px;
  }
  
  
  .btn-outline1 {
    color: #ffffff;
    background-color: rgb(60, 56, 56);
}

.btn-outline1:hover {
    color: #ffffff;
    background-color: #080808;
}

.btn-outline2 {
    color: #ffffff;
    background-color: rgb(60, 56, 56);
}

.btn-outline2:hover {
    color: #ffffff;
    background-color: rgb(231, 57, 57);
}
.card{
  border: 1px solid #f0c7df; /* Cambia #ff0000 por el color que desees */
}
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Asegura que el mensaje esté por encima de otros elementos */
}

.confirmation-message {
  background-color:#f2e6ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #f2e6ff;
  text-align: center;
  color: #000000;
  border: 1px solid #000000;
  
}
.close-button {
position: absolute;
top: 5px;
right: 5px;
background: none;

cursor: pointer;
outline: none; /* Elimina el contorno al enfocar */
padding: 5px; /* Añade un espacio interno alrededor del contenido del botón */

}

.close-button span {

color: #ffffff;
background-color: #eb7abb; /* Color de fondo del botón */
border: none; /* Elimina el borde del botón */
padding: 5px 10px; /* Ajusta el padding para hacer el botón más cuadrado */
border-radius: 8px; /* Ajusta el border-radius para hacer las esquinas redondeadas */

}
.p{
font-size: 25px;
}
.silueta{
  color: #eb7abb;
  font-size: 45px;
}

.rosa-border {
  border: 2px solid #eb7abb;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}




