.rosa-border {
    border: 2px solid#c7c48f;
  }

  .btn1, .btn2{
    font-size: 20px; /* Cambia el tamaño de la fuente */
    color:  #ffffff; /* Cambia el color del texto */
    background-color: rgb(76, 75, 75); /* Cambia el color de fondo */
    padding: 15px; /* Añade espacio interno */
    border-radius: 5px; /* Redondea las esquinas */
    text-decoration: none; /* Elimina la subrayado */
    display: inline-block; /* Asegura que se comporta como un bloque en línea */
   
}
.btn1:hover{
    background-color:    #c7c48f; /* Cambia el color de fondo al pasar el ratón por encima */
    color:  #000000;
}

.btn2:hover{
    background-color:  rgb(231, 57, 57); /* Cambia el color de fondo al pasar el ratón por encima */
    color:  #000000;
}
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050; /* Asegura que el mensaje esté por encima de otros elementos */
}
.confirmation-message {
  background-color:#f2e6ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px #f2e6ff;
  text-align: center;
  color: #000000;
  border: 1px solid #000000;
  
}
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
 
  cursor: pointer;
  outline: none; /* Elimina el contorno al enfocar */
  padding: 5px; /* Añade un espacio interno alrededor del contenido del botón */
 
}

.close-button span {
 
  color: #ffffff;
  background-color:  #c7c48f; /* Color de fondo del botón */
  border: none; /* Elimina el borde del botón */
  padding: 5px 10px; /* Ajusta el padding para hacer el botón más cuadrado */
  border-radius: 8px; /* Ajusta el border-radius para hacer las esquinas redondeadas */
  
}
.p{
  font-size: 25px;
}