.rosa-border {
    border: 2px solid #eb7abb;
  }

h4{
    text-align: center;
    margin-top: 25px; 
}

.btn1, .btn2{
    font-size: 20px; /* Cambia el tamaño de la fuente */
    color:  #ffffff; /* Cambia el color del texto */
    background-color:  #000000; /* Cambia el color de fondo */
    padding: 15px; /* Añade espacio interno */
    border-radius: 5px; /* Redondea las esquinas */
    text-decoration: none; /* Elimina la subrayado */
    display: inline-block; /* Asegura que se comporta como un bloque en línea */
   
}
.btn1:hover{
    background-color:  #eb7abb; /* Cambia el color de fondo al pasar el ratón por encima */
    color:  #000000;
}

.btn2:hover{
    background-color:  rgb(231, 57, 57); /* Cambia el color de fondo al pasar el ratón por encima */
    color:  #000000;
}
.button-container-flex {
    display: flex;
    gap: 45px; /* Ajusta el valor del espacio entre los botones */
}
.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050; /* Asegura que el mensaje esté por encima de otros elementos */
}

.confirmation-message {
    background-color:#000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #eb7abb;
    border: 1px solid #eb7abb;
    
}
.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
   
    cursor: pointer;
    outline: none; /* Elimina el contorno al enfocar */
    padding: 5px; /* Añade un espacio interno alrededor del contenido del botón */
   
  }
  
  .close-button span {
   
    color: #ffffff;
    background-color: #eb7abb; /* Color de fondo del botón */
    border: none; /* Elimina el borde del botón */
    padding: 5px 10px; /* Ajusta el padding para hacer el botón más cuadrado */
    border-radius: 8px; /* Ajusta el border-radius para hacer las esquinas redondeadas */
    
  }
  .p{
    font-size: 25px;
  }