<div class="card mt-5 px-4 negro-border" style="position: relative; margin-left: 120px; margin-right: 120px;">
    <div class="row">
        <div class="col">
            <h3>Reserva tu cita</h3>
<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Apellidos</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Dirección de correo</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>   

      <!-- <div class="mb-3">
        <label for="departureDate">Fecha</label>
        <div class="input-group">
            <input type="datetime-local"
                class="form-control"
                id="dateTime"
                formControlName="dateTime"
                ngbDatepicker
                #d="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
        </div>
    </div> -->
    
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">Fecha y Hora</label>
        <input type="datetime-local" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
      <button class="w-50 btn btn-outline-naranaja btn-lg mt-3  " type="submit">Finalizar</button>
</form>

        </div>
    </div>
</div>


