

.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  .btn-outline-negro {
    color: #ffffff;
    background-color:  #000000;
  }
  
  .btn-outline-negro:hover {
    color: #000000;
    background-color: #c7c48f;
  }
  .my-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el formulario ocupe toda la altura de la ventana */
  }
  .mover-arriba {
    position: relative;
    top: -60px; /* Ajusta este valor según sea necesario */
}
h4{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 45px;
  font-size: 45px;
}