<nav class="navbar navbar-expand-lg bg-black navbar-custom">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/assets/img/Logo.png" alt="Logo Gelim Novias">

		</a>
		<h3>Gelim Novias </h3>
		
		<button class="navbar-toggler" type="button" aria-controls="navbarContent" [attr.aria-expanded]="!collapsed"
			aria-label="Toggle navigation" (click)="collapsed = !collapsed">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
			<ul class="navbar-nav ms-auto ">

				<li class="nav-item">
					<a class="nav-link btn custom-btn" routerLink="/vestidos-fiesta">Vestidos de Fiesta</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn custom-btn" routerLink="/vestidos">Vestidos de Novia</a>
				</li>
				
				@if (isAdmin) {
				<li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Añadir y
						modificar </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
						<a ngbDropdownItem routerLink="/vestidos" (click)="$event.preventDefault()"
							style="background-color: #000000;">Vestidos de Novia</a>
						<a ngbDropdownItem routerLink="/vestidos/create" (click)="$event.preventDefault()"
							style="background-color: #000000;">Añadir vestidos de Novia</a>
							<a ngbDropdownItem routerLink="/vestidos-fiesta" (click)="$event.preventDefault()"
							style="background-color: #000000;">Vestidos de Fiesta</a>
						<a ngbDropdownItem routerLink="/vestidos-fiesta/create" (click)="$event.preventDefault()"
							style="background-color: #000000;">Añadir vestidos de Fiesta</a>



					</div>
				</li>
				}
				@if (isLoggedIn) {
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Reservas
					</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						
							<a ngbDropdownItem routerLink="/booking" (click)="$event.preventDefault()"
							style="background-color: #000000;">Listado de
							Reservas</a>
					</div>
					

				</li>

				}

				@if (isAdmin) {
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Usuarios </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/user" (click)="$event.preventDefault()"
							style="background-color: #000000;">Lista de usuarios</a>

					</div>
				</li>


				}

				@if (userEmail) {
				
				<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3"
						role="button">{{userEmail.split('@')[0]}}</a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/account" (click)="$event.preventDefault()"
							style="background-color: #000000;">
							Editar Perfil
						</a>
						<a ngbDropdownItem (click)="logout();" style="cursor: pointer;background-color: #000000;">
							Cerrar Sesión
						</a>

					</div>
				</li>
				}

				@if(isLoggedIn){
					
				@if (user?.photoUrl) {
				<img [src]="'http://localhost:3000/uploads/' + user?.photoUrl" alt="Foto de perfil"
					class="img-thumbnail">
				} @else {
				<img src="/assets/img/usuario-defalult.png" alt="" width="15" height="15" 
				class="rounded-circle me-1">
				}
				} @else {
				<button type="button" class="btn btn-white ms-2" routerLink="/login">Login</button>
				<button type="button" class="btn btn-white ms-2" routerLink="/register">Registro</button>
				}

			</ul>
		</div>
	</div>
</nav>