.body{
    font-family:  "Playwrite FR Trad", cursive;
}


.bg-black {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-custom .nav-link,
.navbar-custom .btn,
.navbar-custom .dropdown-menu a {
    color: #eb7abb !important;
}

.navbar-custom .dropdown-menu {
    background-color: black;
    border: none;
}

.navbar-custom .dropdown-menu a:hover {
    background-color: rgb(0, 0, 0);
}


.navbar-brand img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
  }
h3{
    color:#eb7abb
}






