.body{
    font-family:  "Playwrite FR Trad", cursive;
}


.bg-black {
    background-color: rgb(0, 0, 0) !important;
}

.navbar-custom .nav-link,
.navbar-custom .btn,
.navbar-custom .dropdown-menu a {
    color: #000000 !important;
}

.navbar-custom .dropdown-menu {
    background-color: rgb(255, 255, 255);
    border: none;
}

.navbar-custom .dropdown-menu a:hover {
    background-color: #f2e6ff;
}


.navbar-brand img {
    width: 80px;
    height: auto;
    margin-left: 15px;
    margin-top: 5px;
  }
h3{
    color:#000000
}

.img-thumbnail {
    width: 70px; /* Tamaño más pequeño */
    height: 70px; /* Tamaño más pequeño */
    object-fit: cover;
    border-radius: 50%; /* Hace que la imagen sea circular */
    float: right; /* Alinea la imagen a la derecha */
    margin-left: 15px; /* Espacio entre la imagen y el contenido */
    border: 2px solid #eb7abb; /* Agrega un borde de color rosa */
  }
  
  .text-center {
    position: relative; /* Asegura que el float funcione correctamente */
  }




