<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
  <img src="/assets/img/Rosas.jpg" alt="Fondo de tabla" style="width: 100%; height: auto; opacity: 0.3;">
</div>

<div class="container position-relative" style="z-index: 1; background: transparent;">
  <div class="row">
    <div class="col-12">
      <h3 class="mt-5" style="color:#000000; text-align: center;"> Lista de Usuarios</h3>
      <div class="container position-relative" style="z-index: 1; background: transparent;">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
          @for (user of users; track user) {
          <div class="col">

            <div class="col mt-4">

              <div class="card">

                <a [routerLink]="['/user', user.id, 'detail']">
                  <div class="card-img-container">
                    <img class="card-img-top "
                      [src]="user.photoUrl ? (baseUrl + user.photoUrl) : '/assets/img/usuario-defalult.png'"
                      alt="Imagen"  class="img-thumbnail">
                  </div>
                </a>

                <div class="card-body">
                  <div class="card-name">
                    <p>{{user.firstName}} {{user.lastName}}</p>


                    <p class="card-text"></p>
                    @if (isAdmin) {
                    <button type="button" class="btn btn-outline1 btn-users-list py-2"
                      [routerLink]="['/user', user.id, 'detail']">
                      Detalles</button>
                    }

                    @if(isAdmin){
                    <button class="btn btn-outline2 btn-vestidos-list py-2 ms-1 "
                      (click)="openModal(content, user)">Eliminar</button>
                    <!-- <button id="Borrar" class="btn btn-outline-naranaja btn-house-list py-2 ms-1 " (click)="openModal(content, vestido)"> Eliminar</button> -->
                    }
                  </div>
                  <div class="d-flex justify-content-between align-items-center">



                  </div>
                </div>

              </div>



              <div class="d-flex justify-content-between align-items-center">


              </div>
            </div>
          </div>

          }

          @if (showConfirmMessage) {
          <div class="confirmation-overlay">
            <ngb-alert type="warning" [dismissible]="false" class="confirmation-message">
              <button type="button" class="close-button" (click)="closeConfirmation()">
                <span aria-hidden="true">&times;</span>
              </button>
              <p>El usuario se ha eliminado correctamente</p>
              <div style="text-align: center;">
                <i class="bi bi-check-lg" style="font-size: 3em;"></i>
              </div>
             <p>Para cualquier duda contacte con soporte&commat;GelimNovias.com</p> 
            </ngb-alert>
          </div>


          }

        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">¿Desea eliminar este usuario?</h4>
        <button type="button" class="btn-close" aria-label="Cancelar" (click)="modal.dismiss('Cancelar')"></button>
      </div>
      <div class="modal-body">
        <p>Para continuar pulse aceptar</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline1 " (click)="modal.close('Aceptar')">Aceptar</button>
        <button type="button" class="btn btn-outline2 " (click)="modal.close('Cancelar')">Cancelar</button>
      </div>
    </ng-template>


    <!--  <div class="col-8 " style="position: absolute; top: 90px; left: 0; width: 100%; height: 90%; z-index: -1;">
        <img src= "/assets/img/USUARIOS.jpg" style="width: 100%; height: 100%;" alt=""
          class="img-fluid">
      </div>  -->