.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  .btn-outline-negro {
    color: #000000;
    background-color: #eb7abb;
  }
  
  .btn-outline-negro:hover {
    color: #ffffff;
    background-color: #111111;
  }
  .my-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el formulario ocupe toda la altura de la ventana */
  }
  .mover-arriba {
    position: relative;
    top: -40px; /* Ajusta este valor según sea necesario */
}