.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  .btn-outline-negro {
    color: #ffffff;
    background-color: #da269e;
  }
  
  .btn-outline-negro:hover {
    color: #ffffff;
    background-color: #111111;
  }
  .my-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el formulario ocupe toda la altura de la ventana */
  }